.header {
    width: 100%;
    background-color: #363636;
    box-shadow: 0 1px 6px rgba(0,0,0,.48);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.48);
    padding: 15px 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    .header__logo {
        display: flex;
        width: 25%;
        justify-content: flex-start;
        align-items: center;
        .logo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    .header__menu {
        display: flex;
        width: 50%;
        align-items: center;
        .header-menu__content {
            display: flex;
            flex-flow: row nowrap;
            width: 80%;
            margin: 0 auto;
            align-items: center;
            justify-content: space-around;
            li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .header__buttons {
        display: flex;
        flex-flow: row nowrap;
        width: 25%;
        align-items: center;
        justify-content: flex-end;
        .button, .button2 {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            margin: 0 8px;
            padding: 10px 0px;
            border-radius: 5px;
            text-align: center;
        }
        .button {
            background-color: #fff;
            color: #6e34e9;
            width: 90px;
        }
        .button2 {
            background-color: #6e34e9;
            width: 126px;
        }
    }
}
