.section_customers-say {
    height: 640px;
    position: relative;
    overflow: hidden;
    .section__background {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        .customers-say_background {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .color_fill {
                width: 100%;
                height: 100%;
                background-color: #363636;
                opacity: 0.549;
            }
        }
    }
    .content {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        .customers-say {
            width: 100%;
            height: 90%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            .section_heading {
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    position: relative;
                    font-size: 36px;
                    font-weight: bold;
                    line-height: 2.5;
                    word-spacing: 7px;   
                }
            }
            .section_content {
                width: 100%;
                height: 500px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                .main {
                    max-width: 80%;
                    display: block;
                    margin: 0 auto;
                    .slider {
                        width: 100%;
                        height: 95%;
                        display: block;
                        margin: 0 auto;
                        .profile {
                            width: auto;
                            max-height: 276px;
                            padding: 10px 0;
                            display: flex;
                            margin-top: 130px;
                            flex-flow: column nowrap;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px;
                            background-color: #fff;
                            color: #333333;
                            .customers_name {
                                width: 90%;
                                font-size: 15px;
                                font-weight: bold;
                                line-height: 1.4;
                                text-align: center;
                                margin-top: 20px;
                                display: flex;
                                flex-flow: column nowrap;
                                align-items: center;
                                justify-content: center;
                                .avatar {
                                    position: absolute;
                                    z-index: 4;
                                    width: 109px;
                                    height: 109px;
                                    border-radius: 50%;
                                    margin-top: -90px;
                                    box-shadow: 0px 3px 9.6px 0.4px rgba(0, 0, 0, 0.15);
                                    img {
                                        width: 109px;
                                        height: 109px;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            .stars {
                                width: 90px;
                                height: auto;
                                padding: 5px;
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;
                                justify-content: flex-end;
                            }
                            .customers_text {
                                width: 90%;
                                font-size: 14px;
                                line-height: 1.571;
                                text-align: center;
                            }
                            .line {
                                width: 90%;
                                margin: 10px 0;
                                border-bottom: 1px solid #e5e5e5;
                            }
                            .text_bottom {
                                width: 90%;
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;
                                justify-content: space-between;
                                .data_content {
                                    display: flex;
                                    flex-flow: column nowrap;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    font-size: 12px;
                                    line-height: 1.833;
                                }
                                .layer_photo {
                                    width: 38px;
                                    height: 38px;
                                    border-radius: 50%;
                                    border: 1px solid #dfdfdf;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                    }
                                }
                                .layer_info {
                                    display: flex;
                                    flex-flow: column nowrap;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    font-size: 10px;
                                    line-height: 2.2;
                                    a {
                                        color: #2f80ed;
                                        font-size: 12px;
                                        line-height: 1.833;
                                    }
                                }
                            }
                        }
                    }
                    // .slider {
                    //     position: relative;
                    //     &:after, &:before {
                    //     content: "";
                    //         position: absolute;
                    //         top: 0;
                    //         height: 100%;
                    //         width: 5%;
                    //         z-index: 10;
                    //     }
                    //     &:after {
                    //         right: 0;
                    //         background: linear-gradient(to right, transparent 0%,rgba(255,255,255,1) 100%);
                    //     }
                    //     &:before {
                    //         background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                    //     }
                    // }
                }
                .slider .slick-center .profile {
                    transform: scale(1.1, 1.1);
                    transform-origin: 50% 50%;
                    opacity: 1;
                }

                .profile {
                    // max-width: 100%;
                    // position: relative;
                    // transform: scale(0.9);
                    // transition: all 1s ease-out;
                    opacity: 0.9;
                  }
                //   .slide.slick-center {
                //     transform: scale(1.1);
                //     transition: all 1s ease-out;
                //     opacity: 1;
                //   }

                .slick-dots {
                    bottom: 0;
                }             
                // .slick-prev:before,
                // .slick-next:before {
                //     color: black;
                //     content: '';
                // }
                // .slick-arrow {
                //     width: 39px;
                //     height: 39px;
                //     z-index: 5;
                //     border-radius: 5px solid white;
                //     border-top: 3px solid #6e34ea;
                //     border-right: 3px solid #6e34ea;
                //     -webkit-transition: opacity 0.3s ease-out;
                //     -moz-transition: opacity 0.3s ease-out;
                //     transition: opacity 0.3s ease-out;
                // }
                // .slick-arrow:hover {
                //     opacity: .5
                // }
                // .slick-prev {
                //     left: 0%;  
                //     transform: rotate(225deg);
                // }
                // .slick-next {
                //     right: 0%;
                //     transform: rotate(45deg);
                // }
                .slick-slide img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 6px;
                   
                    &.slick-active {
                        button {
                            background-color: #f2994a;
                            height: 10px;
                            width: 10px;
                            &:hover {
                            background-color: #f2994a;
                            }
                        }
                    }
                    button {
                        outline: none;
                        display: block;
                        width: 8px;
                        height: 8px;
                        border: 1px solid #f2994a;
                        background-color: transparent;
                        text-indent: -9999px;
                        border-radius: 100%;
                        cursor: pointer;
                     
                        &:hover {
                            background-color: #f2994a;
                        }  
                    }
                }
            }
        }
    }
}