.section_customers-say {
    height: 640px;
    position: relative;
    overflow: hidden;
    .section__background {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        .customers-say_background {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .color_fill {
                width: 100%;
                height: 100%;
                background-color: #363636;
                opacity: 0.549;
            }
        }
    }
    .content {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        background-color: pink;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        .customers-say {
            width: 100%;
            height: 90%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            background-color: yellowgreen;
            .section_heading {
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rosybrown;
                span {
                    position: relative;
                    font-size: 36px;
                    font-weight: bold;
                    line-height: 2.5;
                    word-spacing: 7px;   
                }
            }
            .section_content {
                width: 100%;
                height: 500px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background-color: blueviolet;
            }
        }
    }
}